---
import FilterRadioGroup from "./components/FilterRadioGroup.astro";
import Card from "./components/card.astro";
import data from "../../../data.json";

const options = [
    { label: "All", value: "all" },
    { label: "Active", value: "active" },
    { label: "Inactive", value: "inactive" },
];
const selected = "all";

const extensions = [...data];
---

<main class="main-content">
    <div class="filter-container">
        <h1>Extensions List</h1>
        <FilterRadioGroup name="status" options={options} selected={selected} />
    </div>

    <div class="card-container">
        {
            extensions.map((ext, index) => (
                <Card
                    key={index}
                    title={ext.name}
                    description={ext.description}
                    icon={ext.logo}
                    status={ext.isActive}
                    onRemove={() => console.log("Remove clicked")}
                    onStatusChange={() => console.log("Status changed")}
                />
            ))
        }
    </div>
</main>

<style is:global>
    .main-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 20px;
        justify-items: center;
    }

    .filter-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    @media (width >= 64rem) {
        .card-container {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        .filter-container {
            flex-direction: row;
        }
    }

    @media (width >= 80rem) { 
         .card-container {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 20px 70px;

        }
     }
</style>
